#calcs{
    width: 100%;
    min-height: 100vh;
}

#calc{
   display: grid;
   margin-top: 10%;
   grid-template-columns: 1fr 1fr;
   width: 10%;
   gap: 10px;
}





#input-results{
    grid-column-start: 1;
    grid-column: 1/span 2;
}