#calcs{
    width: 100%;
    min-height: 100vh;
}

@media screen and (max-width:800px){
    #calcs{width: 80%;

     }}


#calc{
   display: grid;
   margin-top: 10%;
   grid-template-columns: 1fr 1fr;
   width: 60%;
   gap: 10px;
  
}








#input-results{
    grid-column-start: 1;
    grid-column: 1/span 2;
    height: 50px;
}

#input1{
    height: 50px;
}

#input2{
    height: 50px;
}