/*this is the nav section*/

body{
    background-image: url(6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    font-family: "Montserrat",sans-serif;
  
}

.whole{
    margin-bottom: -1000000vh;
}


nav{
    width: 100%;
    margin-top: 3%;

}

nav ul{
    text-align: center;
}

nav ul li{
    justify-content: center;
    text-align: center;
    display: inline;

}

nav ul li a{
    text-decoration: none;
    margin: 20px 15px;
    color: white;
    font-size: large;
    padding: 5px 1%;
   
}

nav ul li a:hover{
    background-color: orangered;
    border: 1 px solid;
    border-radius: 20px;
    color: white;
    padding-bottom: 2px;
   
}



@media screen and (max-width:800px){
    nav ul li a{visibility: hidden;}}





@media screen and (max-width:800px){
    .dropdown-content,.dropdown{visibility: visible;}}

    /*slashed navigation*/

    .dropdown{
        margin-top: 0;
        position: absolute;
    }

    .dropbtn {
        background-color: transparent;
        color: white;
        font-size: 66px;
        border: none;
       
      }
      
      
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 100;
      
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: #ddd;
      }
      
      .dropdown-content a:hover {background-color: #aba9a9;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      

      /*Body section*/

      .main{
        width: 50%;
        float: right;
        margin-right: 10%;
        margin-top: 2%;
        
      }

      @media screen and (max-width:800px){
        .main{width: 100%;
            margin-left: 1%;
            margin-right: 1%;
        }}

      .first p{
        text-align: center;
       color: #ddd;
        font-size:50px ;
       
      }

      

      .second p{
        margin: auto;
        text-align: center;
        color: #ddd;
        font-size: 15px;
        line-height: 25px;
        word-spacing: 5px;
      }
      
      .third a{
        text-decoration: none;
        background-color: orangered;
        border: 1px groove;
        padding: 10px 2%;
        border-radius: 15px;
        color: #e6e1e1;
        font-weight: 10;
        font-size: large;

       
      }
      .third a:hover{
        background-color: rgb(122, 146, 192);
      }


      .third{
        margin-top: 5%;
      }