/*this is the nav section*/


html,body{
    width: 100%;
    height: 100%;
    margin: 0;
   
}

body {
  position: relative;
  width: 100%;
  background: url("6.jpg");
  background-size: auto;
  background-position: center;
}

section{
  margin-top: 5%;
}




nav{
    width: 100%;
    margin-top: 3%;

}

nav ul{
    text-align: center;
  
}

nav ul li{
    justify-content: center;
    text-align: center;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    

}

nav ul li a{
    text-decoration: none;
    margin: 20px 15px;
    color: white;
    font-size: large;
    padding: 3px 1%;
    font-size: 20px;
   
}

nav ul li a:hover{
    background-color: orangered;
    border: 1 px solid;
    border-radius: 20px;
    color: white;
    padding-bottom: 2px;
    transition-duration: 1s;
  
   
}



@media screen and (max-width:800px){
    nav ul li a{display: none;}}





@media screen and (max-width:800px){
    .dropdown-content,.dropdown{visibility: visible;}}

    /*slashed navigation*/

    .dropdown{
       
        position: absolute;
    }

    .dropbtn {
        background-color: transparent;
        color: white;
        font-size: 66px;
        border: none;
        position: absolute;
     top: 0;
       
      }
      
      
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 100;
      
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: #ddd;
      }
      
      .dropdown-content a:hover {background-color: #aba9a9;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      

      /*Body section*/

      .main{
        width: 50%;
        float: right;
        margin-right: 10%;
        margin-top: 0;
        
        
      }


      @media screen and (max-width:800px){
        .main{width: 100%;
            margin-left: 1%;
            margin-right: 1%;
            margin-top: 7%;
           
        }}

      .first p{
        text-align: center;
        font-family: cursive;
       color: #ddd;
        font-size:50px ;
    

       
       
      }

     
      

      

      .second p{
        margin: auto;
        text-align: center;
        color: #ddd;
        font-size: 15px;
        line-height: 23px;
        background-color: rgba(11, 11, 11,0.2);
        word-spacing: 5px;
        border: none;
        padding: 5px 5px;
      }
      
      
      .third a{
        text-decoration: none;
        background-color: orangered;
        border: 1px groove;
        padding: 10px 2%;
        border-radius: 15px;
        color: #e6e1e1;
        font-weight: 10;
        font-size: large;
        margin-left: 10%;

       
      }


      .third a:hover{
        background-color: rgb(122, 146, 192);
        transition: 0.3s;
        
      }


      .third{
        margin-top: 20px;
        margin-bottom: 5%;
      }

      
      @media screen and (max-width:800px){
        .third{margin-top: 10%;}}

    #icons{
        font-size: 30px;
      margin-left: 8%;
      width: 100%;
      margin-top: 40px;
    }


   @media screen and (max-width:800px){
      #icons{margin-top: 6%;}}



    #icons a{
        text-align: center;
        color: orangered;
        margin-right: 50px;
        margin-top: 5%;
        
      
    }

    #icons a i:hover{
       transition: 0.5s;
        transform: scale(1.3);
        cursor: pointer;
    }


