body{
    overflow-x: hidden;
    overflow-y: hidden;
}

nav{
    width: 100%;
    padding-top: 5%;
}

nav ul{
    text-align: left;
}

nav ul h1{
    text-align: end;
}

nav ul li{
    display: inline;
    margin-right:60px ;
    border: 2px solid white ;
    padding: 10px 5%;
    border-radius: 50px;
    font-size: larger;
   
}

nav ul li:hover{
    color: black;
    background-color: #fff;
}

nav ul li a{
    text-decoration: none;
    color: black;
    

}

@media screen and (max-width:500px){
    nav ul li{margin-right: 10px;
        padding: 5px 4%;
        font-size: large;
        display: block;
        text-align: center;
        
    
    }}

  

.content{
    margin: auto;
    text-align: center;
    height: 100vh;
    width: 100%;
    
    

}

.content h1,.content a{
    text-align: center;
    padding-top: 10%;

}
.content h1{
    font-size: 100px;
    color: #fff;
   
}



@media screen and (max-width:800px){
    .content h1{font-size: 7vh;
        padding-top: 50%;
    }}


.content a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 24px;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: white;
}

.content a:hover{
    background-color: transparent;
    color: white;
}

@media screen and (max-width:600px){
    .content a{font-size: large;
    padding: 10px;

}
}
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  @media screen and (max-width:800px){
    .back-video{left: 10;
    }}